body{
    background-color:tan;
}
.cabeza .logo{
    width:90px;
    height:90px;
    vertical-align:middle;
    margin-left: 4.5cm;
}
.cabeza .user {
    float: right;
    width: 54
    px;
    height: 54px;
    margin-right: 1cm;
    margin-top: 0.2cm;
}
.cabeza .posts {
    float: right;
    width: 65px;
    height: 65px;
    margin-right: 1cm;
}
.cabeza .posts:hover {
    filter: blur(2px);
}
.cabeza .user:hover {
    filter: blur(2px);
}
.cabeza{
    font-family:sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size:0.9cm;
}
.cuadrado{
    background-color: antiquewhite;
    border-radius: 1cm;
    position:fixed;
    margin-left: 20cm;
    margin-top: 5cm;

}
h1{
    font-family:sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-top: 2cm;
}
.formularioUsuario{
    padding: 2cm;
    margin: 0cm;
    font-family: sans-serif;
    font-weight: bold;
}
.formularioUsuario input{
    border-radius: 1cm;
    border-color: black;
}
.formularioUsuario button{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color:lightgoldenrodyellow;
    border-radius: 6px;
    border: 2px solid black;
    margin-left: 3cm;
    margin-top: 1cm;
  }
.formularioUsuario button:hover{
    color: white;
    background-color: black;
    animation:step-end;
}
table{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
    font-weight: bold;
    font-family: sans-serif;
}
td {
    width: 25%;
    text-align: left;
    vertical-align:middle;
    border: 1px solid #000;
    padding: 1cm;
}
button{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color:lightgoldenrodyellow;
    border-radius: 6px;
    border: 2px solid black;
    margin-left: 1.5cm;
  }
button:hover{
    color: white;
    background-color: black;
}

#titulo{
    font-size: 0.8cm;
    font-family:sans-serif;
    font-weight: bold;
    text-align: center; 
    margin-top: 2cm;
}
#cuerpo{
    font-size: 0.6cm;
    font-weight: bold;
    font-family:sans-serif;
    margin-top: 5cm;
    text-align: center;
    
}
#formComent{
    text-align: center;
    font-weight: bold;
    font-size: 0.5cm;
    background-color:lightgoldenrodyellow;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 1cm;
    font-family:sans-serif;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
}
#formComent #añadirComent{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color:lightgoldenrodyellow;
    border-radius: 6px;
    border: 2px solid black;
    margin-left: 10cm;
    margin-top: 1cm;
    display: block;
}
#formComent #añadirComent:hover{
    color: white;
    background-color: black;
}

#formComent #TextoComentario{
    border-radius: 1cm;
    border-color: black;
    height: 2cm;
    width: 12cm;
    margin-left: 7cm;
    margin-top: 1cm;
    display: block;
}
#formComent select{
    height: 1cm;
    width: 3cm;
    margin-left: 5cm;
    margin-top: 0.4cm;
    text-align: center;
    border-radius: 1cm;
    display: block;
}
.CuerpoComent{
    font-size: 0.5cm;

}
.AutorComent{
    font-family:sans-serif;
    font-weight: bolder;
    margin-top: 0.5cm; 
}
.fechaComent{
    font-family:sans-serif;
    font-weight: bolder;
    margin-top: 0.5cm; 
}
#formPost{
    text-align: center;
    font-weight: bold;
    font-size: 0.5cm;
    background-color:lightgoldenrodyellow;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 1cm;
    font-family:sans-serif;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
    margin-top: 1cm;
}

#formPost select{
    height: 1cm;
    width: 3cm;
    margin-left: 5cm;
    margin-top: 0.4cm;
    margin-bottom: 0.6cm;
    text-align: center;
    border-radius: 1cm;
    display: block;
}
#formPost #añadirPost{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color:lightgoldenrodyellow;
    border-radius: 6px;
    border: 2px solid black;
    margin-left: 10cm;
    margin-top: 1cm;
    display: block;
}
#formPost #añadirPost:hover{
    color: white;
    background-color: black;
}

#formPost #CuerpoPost{
    border-radius: 1cm;
    border-color: black;
    height: 2cm;
    width: 15cm;
    margin-left: 5cm;
    margin-top: 1cm;
    display: block;
}
#formPost #TituloPost{
    border-radius: 1cm;
    border-color: black;
    height: 0.5cm;
    width: 7cm;
    display: block;
    margin-left: 9cm;
}
#formPost #CuerpoPost{
    border-radius: 1cm;
    border-color: black;
    height: 2cm;
    width: 15cm;
    margin-left: 5cm;
    margin-top: 1cm;
    display: block;
}

#formPost #CuerpoPost{
    border-radius: 1cm;
    border-color: black;
    height: 2cm;
    width: 15cm;
    margin-left: 5cm;
    margin-top: 1cm;
    display: block;
}